.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: rgba(110, 216, 11, 0.733);
  border-radius: 6px;
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgb(0 0 0 / 20%);
  transition: background-color 250ms linear;
  margin-bottom: 25px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  min-width: 500px;
  background-color: rgba(110, 216, 11, 0.733);
  border-radius: 6px;
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgb(0 0 0 / 20%);
  transition: background-color 250ms linear;
}
