.section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(110, 216, 11);
  color: white;
  transition: background-color 250ms linear;
}

.container {
  padding: 20px 30px;
  background-color: rgb(110, 216, 11);
  border-radius: 6px;
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgb(0 0 0 / 20%);
  transition: background-color 250ms linear;
}

h1 {
  text-align: center;
}

.contacts {
  margin-top: 30px;
  padding: 20px 30px;
  width: 500px;
  z-index: 10;
  border-radius: 6px;
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgb(0 0 0 / 20%);
  background-color: rgb(73, 143, 8);
  transition: background-color 250ms linear;
}
